/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 29; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HSL color mode */
    --first-color: #6CB7DA;
    --first-color-darker: #62a7c7;
    --title-color: #5CAFD6;
    --text-color: #453B36;
    --text-color-light: #E3E3DE;
    --input-color: hsl(var(--hue-color), 22%, 85%);
    --body-color: #F8FAFC;
    --container-color: #fff;

    /*========== Font and typography ==========*/
    --body-font: 'Open Sans', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 var(--header-height);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    padding: 20px 40px;
}

h1, h2, h3, h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    padding: 5px 10px;
    margin: 20px 0px 20px 0px;
}

/* Scrollbar styling */
::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: var(--body-color);
    margin: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--title-color);
    border-right: 2px var(--body-color) solid;
    border-left: 2px var(--body-color) solid;
}

#bg-img-container {
    /* display: block; */
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 500px;
    right: 0;
    top: 110%;
    overflow: hidden;
    /* -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, 
    from(rgba(0,0,0,1)), to(rgba(0,0,0,0))); */
    /* background-color: orangered; */
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0, 0, 0, 1) 55%, rgba(0,0,0,0) 95%, rgba(0,0,0,0) 100%);
}

#bg-img {
    /* width: 1200px; */
    margin-left: 40%;
    /* margin-top: 20%; */
}

/* Category stylings */
.stats-row-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* background-color: red; */
    /* padding: 10px; */
    margin-top: 20px;
}

.row-category {
    flex-grow: 1;
}

.row-category p {
    margin-top: 10px;
}

.row-category input, select {
    width: 80%;
}

.output-row-item-lhs {
    flex-grow: 1;
}

.output-row-item-rhs {
    flex-grow: 10;
}

.range-bar p, input {
    display: inline-block;
    margin-right: 5px;
}

.range-bar input {
    background: linear-gradient(to right, var(--first-color) 0%, var(--first-color) 55%, #fff 45%, #fff 100%);
    border: solid 1px var(--text-color-light);
    border-radius: 8px;
    height: 8px;
    /* width: 356px; */
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
}

.const-checkbox p, input {
    display: inline-block;
    margin-right: 0;
}