{% extends "base.html" %}

{% block head %}
<title>Budget Calculator</title>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}

{% block body %}
<h1>Budget Calculator</h1>
<h3>Welcome! This calculator can be used to estimate a budget based on your spending over the past 3 months. Hope it is useful!</h3>

<form method="POST" action="/">
    <h2>Monthly Spendings</h2>
    <label>Necessities</label>
    <input type="number" name="m1-necessities"/>
    <label>Luxuries</label>
    <input type="number" name="m1-luxuries"/>
    <label>Savings</label>
    <input type="number" name="m1-savings"/>

    <input type="submit" value="Generate Budget">
</form>

<h2>Estimate Budget</h2>
<div id="piechart"></div>




<script type="text/javascript">
    // Load google charts
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    
    // Draw the chart and set the chart values
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
      ['Category', 'Amount'],
      ['Necessities', 500],
      ['Luxuries', 300],
      ['Savings', 200]
    ]);
    
      // Optional; set the width and height of the chart
      var options = {'width':600, 'height':400};
    
      // Display the chart inside the <div> element with id="piechart"
      var chart = new google.visualization.PieChart(document.getElementById('piechart'));
      chart.draw(data, options);
    }
    </script>
{% endblock %}